body, 
html {
  height: 180%;
}
body {
  text-align: center;
}
svg {
  position: relative;
  top: 10%;
  height: 80%;
}
svg path {
  fill: rgba(0,0,0,0);
}
svg text {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  fill: #333;
}
